* {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
}

header {
	display: flex;
	align-items: center;
	background-color: #31343d;
	justify-content: space-between;
}

header h1 {
	background-color: #92cccd;
	padding: 15px 20px 15px 75px;
	color: #31343d;
	font-size: 48px;
}

ul {
	display: flex;
	list-style-type: none;
	padding: 25px 75px 25px 25px;
	color: #92cccd;
}

ul li {
	margin: 10px;
	/* text-decoration: none; */
	/* border-bottom: 10px solid #92cccd; */
	font-size: 28px;
	font-weight: bolder;
}

a {
	color: #92cccd;
	text-decoration: none;
	padding: 0px 10px;
	border-bottom: 4px solid #92cccd;
}

section {
	/* padding: 10px; */
	max-width: 1800px;
}

section h2 {
	padding-right: 20px;
	min-width: 400px;
	text-align: right;
	border-right: 5px solid #445876;
	/* margin-left: 200px; */
	font-size: 60px;
	color: #445876;
}

a:visited {
	text-decoration: none;
	color: #92cccd;
}

.hero {
	display: flex;
	height: 300px;
	background-image: url('./images/hero_pattern.jpg');
	margin-bottom: 25px;
	/* background-size: cover; */
	background-position: center;
	justify-content: flex-end;
	align-items: flex-end;
}

.hero h2 {
	/* display: flex; */
	position: relative;
	color: #31343d;
	background-color: #92cccd;
	/* justify-content: flex-end; */
	padding: 10px;
	right: 100px;
	bottom: 20px;
	font-size: 48px;
}

.about-me-section,
.work-experience-section,
.contact-me-section {
	display: flex;
	padding: 20px 0px;
}

.about-me-content,
.contact-me-details,
.work-experience-container {
	/* margin-left: 50px; */
	/* border-left: 5px solid #445876; */
	padding: 10px 50px 10px 50px;
	font-size: 20px;
	color: #445876;
}

/* The container allows the images to wrap to the next line. */
.work-experience-container {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	height: 100%;
}

/* This makes the first application div max height and width which will help cropping the image */
.first-application {
	height: 100%;
	width: 100%;
}

/* Crops the first application image to be 600px tall (object-fit: cover allows it to not keep aspect ratio) */
.first-application img {
	object-fit: cover;
	height: 600px;
	width: 100%;
}

/* .test {
	width: 100%;
	height: 100%;
} */

/* .test img {
	width: 100%;
	height: 700px;
	object-fit: cover;
} */

.contact-me-section div {
	display: flex;
	align-items: center;
}

.contact-me-details a {
	color: #445876;
	border-bottom: 4px solid #445876;
}
