* {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
}

header {
	display: flex;
	align-items: center;
	background-color: #31343d;
	justify-content: space-between;
}

header h1 {
	background-color: #92cccd;
	padding: 15px 20px 15px 75px;
	color: #31343d;
	font-size: 48px;
}

ul {
	display: flex;
	list-style-type: none;
	padding: 25px 75px 25px 25px;
	color: #92cccd;
}

ul li {
	margin: 10px;
	/* text-decoration: none; */
	/* border-bottom: 10px solid #92cccd; */
	font-size: 28px;
	font-weight: bolder;
}

a {
	color: #92cccd;
	text-decoration: none;
	padding: 0px 10px;
	border-bottom: 4px solid #92cccd;
}

section {
	/* padding: 10px; */
	max-width: 1700px;
}

section h2 {
	padding-right: 20px;
	min-width: 350px;
	text-align: right;
	border-right: 5px solid #445876;
	/* margin-left: 200px; */
	font-size: 60px;
	color: #445876;
}

a:visited {
	text-decoration: none;
	color: #92cccd;
}

main {
	background-color: #ededf6;
	padding-top: 25px;
}

.hero {
	display: flex;
	height: 300px;
	background-image: url('./images/hero_pattern.jpg');
	background-position: center;
	justify-content: flex-end;
	align-items: flex-end;
}

.hero h2 {
	/* display: flex; */
	position: relative;
	color: #31343d;
	background-color: #92cccd;
	/* justify-content: flex-end; */
	padding: 10px;
	right: 100px;
	bottom: 20px;
	font-size: 48px;
}

.about-me-section,
.work-experience-section,
.contact-me-section {
	display: flex;
	padding: 20px 0px;
}

.about-me-content {
	font-size: 20px;
}

.about-me-content,
.contact-me-details,
.work-experience-container {
	color: #445876;
	padding-left: 50px;
}

.work-experience-container {
	position: relative;
}

/* The container allows the images to wrap to the next line. */
.work-experience-container {
	display: flex;
	flex-wrap: wrap;
	/* width: 1300px; */
	width: 100%;
	/* height: 100%; */
	/* justify-content: center; */
}

/* This makes the first application div max height and width which will help cropping the image */
/* .first-application {
	height: 100%;
	width: 100%;
} */

/* .work-experience-container img {
	object-fit: cover;
	height: 600px;
	width: 100%;
} */

/* Crops the first application image to be 600px tall (object-fit: cover allows it to not keep aspect ratio) */
/* .work-experience-container img {
	object-fit: cover;
	height: 600px;
	width: 100%;
	margin-bottom: 20px;
} */

#first-application {
	position: relative;
	/* height: 100%; */
	/* width: 1200px; */
	width: 100%;
}

#first-application img {
	object-fit: cover;
	height: 600px;
	/* width: 1100px; */
	width: 100%;
	/* margin-bottom: 20px; */
	border: 5px solid #92cccd;
}

.extra-applications {
	margin-top: 20px;
	display: flex;
	position: relative;
	width: 100%;
	justify-content: space-between;
}

.extra-app {
	position: relative;
	height: 200px;
	width: 600px;
}

.extra-app img {
	object-fit: cover;
	height: 200px;
	width: 600px;
	border: 5px solid #92cccd;
}

/* .extra-app::before {
	content: '';
	background: #5a7ffb;
	height: 100%;
	width: 100%;
	opacity: 0.5;
	position: absolute;
	left: 0;
} */

#first-application::before,
.extra-app::before {
	content: '';
	background: #5a7ffb;
	height: 100%;
	width: 100%;
	opacity: 0.5;
	position: absolute;
	left: 0;
	transition: background 0.3s ease-in-out;
	margin: 5px;
}

#first-application:hover::before,
.extra-app:hover::before {
	background: none;
}

/* #first-application {
	object-fit: cover;
	height: 600px;
	width: 100%;
	margin-bottom: 20px;
} */

/* Grabs every other img element besides the first one (n+2 means to start from the 2nd img element) */
/* .work-experience-container img:nth-child(n + 2) {
	object-fit: cover;
	height: 200px;
	width: 48%;
} */

.contact-me-details {
	display: flex;
	align-items: center;
}

.contact-me-details a {
	color: #445876;
	border-bottom: 4px solid #445876;
}
