* {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
}

:root {
	--colorprimary: #31343d;
	--colorsecondary: #92cccd;
	--textcolor: #445876;
}

/* Navbar */
header {
	display: flex;
	align-items: center;
	background-color: var(--colorprimary);
	justify-content: space-between;
}

header h1 {
	background-color: var(--colorsecondary);
	padding: 15px 20px 15px 160px;
	color: var(--colorprimary);
	font-size: 48px;
}

header ul {
	display: flex;
	list-style-type: none;
	padding: 25px 75px 25px 25px;
	color: var(--colorsecondary);
}

ul li {
	margin: 10px;
	font-size: 28px;
	font-weight: bolder;
}

header a {
	color: var(--colorsecondary);
	text-decoration: none;
	padding: 0px 10px;
	border-bottom: 4px solid var(--colorsecondary);
}

/* Sets a container with a unchanging width on every section */
section {
	max-width: 1700px;
}

/* Formats section headings */
section h2 {
	padding-right: 20px;
	min-width: 350px;
	text-align: right;
	border-right: 5px solid var(--textcolor);
	font-size: 60px;
	color: var(--textcolor);
}

a:visited {
	text-decoration: none;
	color: var(--colorsecondary);
}

main {
	background-color: #ededf6;
	padding-top: 25px;
}

/* Adds background image to hero section */
.hero {
	display: flex;
	height: 300px;
	background-image: url('./images/hero_pattern.jpg');
	background-position: center;
	justify-content: flex-end;
	align-items: flex-end;
}

/* Formats the subtitle to the right side of the hero section */
.hero h2 {
	position: relative;
	color: var(--colorprimary);
	background-color: var(--colorsecondary);
	padding: 10px;
	right: 100px;
	bottom: 20px;
	font-size: 48px;
}

.hero img {
	position: absolute;
	height: 300px;
	left: 75px;
}

.about-me-section,
.work-experience-section,
.contact-me-section {
	display: flex;
	padding: 20px 0px;
	position: relative;
}

.about-me-content {
	font-size: 20px;
}

.about-me-content p {
	line-height: 30px;
}

.about-me-content,
.contact-me-details,
.work-experience-container {
	color: var(--textcolor);
	padding-left: 50px;
}

/* The container allows the images to wrap to the next line. */
.work-experience-container {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

/* Sets the container for the tint on top of the image */
#first-application {
	position: relative;
	height: 600px;
	width: 100%;
	display: inline-block;
}

/* Formats the image of the first application */
#first-application img {
	object-fit: cover;
	height: 600px;
	width: 100%;
	border: 5px solid var(--colorsecondary);
}

/* Sets the container for the the extra applications */
.extra-applications {
	margin-top: 20px;
	display: flex;
	position: relative;
	width: 100%;
	justify-content: space-between;
}

/* Sets the container for the tint on top of the image */
.extra-app {
	position: relative;
	height: 200px;
	width: 600px;
}

/* Formats the image of the other applications besides the first */
.extra-app img {
	object-fit: cover;
	height: 200px;
	width: 600px;
	border: 5px solid var(--colorsecondary);
}

/* Adds the blue tint on the images */
#first-application::before,
.extra-app::before {
	content: '';
	background: #5a7ffb;
	height: 100%;
	width: 100%;
	opacity: 0.4;
	position: absolute;
	left: 0;
	transition: background 0.3s ease-in-out;
	margin: 5px;
}

/* Removes the tint when images are hovered */
#first-application:hover::before,
.extra-app:hover::before {
	background: none;
}

.contact-me-details {
	display: flex;
	list-style-type: none;
	align-items: center;
}

.contact-me-details a {
	color: var(--textcolor);
	border-bottom: 4px solid var(--textcolor);
	text-decoration: none;
}

.contact-me-section > div {
	display: flex;
}

.project-title {
	position: absolute;
	color: var(--colorprimary);
	background-color: var(--colorsecondary);
	padding: 15px 15px 15px 50px;
	bottom: 20px;
}

.project-title h3 {
	font-size: 28px;
}

.project-title p {
	padding-top: 10px;
}

/* Reformats page elements when screen size reaches 1669px or lower */
@media screen and (max-width: 1669px) {
	.about-me-section,
	.work-experience-section,
	.contact-me-section {
		max-width: 1400px;
	}

	.extra-app,
	.extra-app img {
		width: 450px;
	}
}

/* Reformats page elements when screen size reaches 1430px or lower */
@media screen and (max-width: 1430px) {
	.about-me-section,
	.work-experience-section,
	.contact-me-section {
		max-width: 1000px;
	}

	/* With display of flex, it would make the images bleed outside the container!!!!!! */
	/* Had to change it to something else so that the first application image would fit inside the container!!!! */
	.extra-applications {
		display: inline-block;
	}
	.extra-app,
	.extra-app img {
		width: 100%;
	}

	.extra-applications {
		margin-top: 0px;
	}
	.extra-app {
		margin-top: 20px;
	}

	.contact-me-details a {
		font-size: 20px;
	}
}

/* Reformats page elements when screen size reaches 1111px or lower */
@media screen and (max-width: 1111px) {
	.about-me-section,
	.work-experience-section,
	.contact-me-section {
		max-width: 700px;
	}

	header h1 {
		padding: 15px 20px 15px 50px;

		font-size: 30px;
	}

	header ul {
		padding-right: 15px;
	}

	section h2 {
		font-size: 40px;
		min-width: 150px;
	}

	ul li {
		font-size: 20px;
	}

	.hero h2 {
		font-size: 32px;
		right: 50px;
	}

	.hero img {
		left: 25px;
	}

	.contact-me-details a {
		font-size: 16px;
	}
}
